cache*
data/*
figs/*
plots/*
vild/__pycache__/*
__pycache__/*
spot_utils/__pycache__/*
vild/image_path_v2/*
vild/*
get_bounding_box.py
nlmap_huda.py
configs/example_dev_ifrah.ini
clusters/*
*.txt
cluster_csvs_spot/*
cluster_gt_csvs_kosher/*
cluster_gt_csvs_nonkosher/*
clusters_june_22/*
clusters_larger_crop/*
clusters_spot/*
clusters_spot*
clusters_stepIsWindow/*
clusters_window17_step_1/*
clusters_window17_step_1/*
figs_june_22/*
figs_larger_crop/*
figs_spot/*
figs_spot_*
clusters_june_22/*
clusters_Aug16_23/*
clusters_Aug22_23/*
clusters_Aug29_23/*
clusters_episilon0.000001_windowstep10_windowsize10_samples3/*
clusters_episilon0.3_windowstep10_windowsize10_samples3/*
clusters_episilon0.3_windowstep10_windowsize10_samples3/*
clusters_episilon1.0_windowstep10_windowsize10_samples3/*
clusters_window34_step_1/*
figs_aug22_23/*
figs_aug29_23/*
figs_episilon0.000001_windowstep10_windowsize10_samples3/*
figs_episilon1.0_windowstep10_windowsize10_samples3/*
figs_episilon0.3_windowstep10_windowsize10_samples3/*
clusters_only_pose_episilon0.15_windowstep17_windowsize17_samples3/*
figs_only_pose_episilon0.15_windowstep17_windowsize17_samples3/*
